* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cheese {
    width: 8rem;
    height: 8rem;
    background: linear-gradient(45deg, #dfc625, #a8d555);
}

.buildings {
    width: 100%;
}

.building-std {
    border: 1px solid black;
}

.building-std:hover {
    background-color: lightgoldenrodyellow;
}

.building-std:active {
    background-color: royalblue;
}

.clicked {
    animation-duration: 100ms;
    animation-name: click;
}

@keyframes click {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    to {
        transform: scale(1);
    }

}