* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}

:root {
    font-size: 1.0rem;
}

button {
    padding: 0.25rem 0.375rem;
    font-size: 1.05rem;
    margin: 0.5rem 0;
    background: linear-gradient(45deg, #73e961, #4effc1);
    border: none;
    border-radius: 0.2rem;
    color: white;
}

button:hover {
    background: linear-gradient(-45deg, #73e961, #4effc1);
}

.statsmain {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 8rem; */
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#cheese {
    width: 16rem;
    height: 16rem;
}

.thebar {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    overflow-y: scroll;
    padding-top: 8rem;
}

.buildings {
    border: 3px solid black;
}

.building-std {
    border: 1px solid black;
    position: relative;
    height: 3lh;
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.building-std span:nth-child(2) {
    font-size: 2rem;
    font-weight: bolder;
}

.building-std span:nth-child(3) {
    font-size: 1.05rem;
}

.building-std span:nth-child(4) {
    margin-left: auto;
    font-size: 0.9rem;
}

.building-std-hidden {
    display: none;
}

.building-std-hidden span {
    font-size: 0.8rem !important;
    font-weight: 1000;
}

.building-std:hover .building-std-hidden {
    display: block;
    position: absolute;
    background-color: #170d0c;
    color: white;
    width: 12rem;
    height: 8rem;
    right: 0;
    bottom: 2rem;
    padding: 1rem;
    z-index: 999;
}

.building-std-hidden h1 {
    font-size: 0.9rem;
}

.building-std-hidden p {
    font-size: 0.7rem;
}
.upgrades {
    width: calc(100%-6px);
    border: 3px solid black;
    display: flex;
    height: 4rem;
}

.upgrade-std {
    border: 1px solid black;
    width: 4rem;
    height: 4rem;
    position: relative;
}
.upgrade-std-info {
    background-color: #170d0c;
    color: white;
    display: none;
    width: 12rem;
    height: 100%;
}

.upgrade-std-info h1 {
    font-size: 0.9rem;
}

.upgrade-std-info h2 {
    font-size: 0.75rem;
}

.bold {
    font-weight: 700;
}

.upgrade-std-info p {
    font-size: 0.6rem;
}

.upgrade-std:hover .upgrade-std-info {
    display: block;
    position: absolute;
    padding: 1rem;
    left: 1rem;
    bottom: 2rem;
    z-index: 999;
    height: 6rem;
}

.building-std:hover {
    background-color: lightgoldenrodyellow;
}

.building-std:active {
    background-color: royalblue;
}

.clicked {
    animation-duration: 100ms;
    animation-name: click;
}

@keyframes click {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    to {
        transform: scale(1);
    }

}